<footer>
  <div class='small-12 medium-3 large-3 columns'>
    <div class='footer-nav'>
      {% include navigation.html %}
    </div>
  </div>
  <div class='small-12 medium-9 large-9 columns'>
    <div class='footer-right'>
      email: <a href="mailto:dan@dmix.ca">dan@dmix.ca</a>
      PGP Key: <a href="https://dmix.ca/pgp.txt">http://dmix.ca/pgp.txt</a>
      <!-- <a href="https://twitter.com/dmix" class='twitter&#45;social&#45;button' id='footer&#45;twitter'> -->
      <!--   <i class="fa fa&#45;twitter"></i> -->
      <!-- </a> -->
    </div>
  </div>
</footer>
