<footer>
  <div class='small-12 medium-3 large-3 columns'>
    <div class='footer-nav'>
      <%= render :partial => 'shared/nav' %>
    </div>
  </div>
  <div class='small-12 medium-9 large-9 columns'>
    <div class='footer-right'>
      email: <a href="mailto:dan@dmix.ca">dan@dmix.ca</a>
      PGP Key: <a href="https://dmix.ca/pgp.txt">http://dmix.ca/pgp.txt</a>
      <a href="https://twitter.com/dmix" class='twitter-social-button' id='footer-twitter'>
        <i class="fi-social-twitter"></i>
      </a>
    </div>
  </div>
</footer>

